{% extends 'base.html.twig' %}


{% block pageheader %}
    <h2>
        <img src="http://www.countryflags.io/{{ game.team1.country.code }}/shiny/64.png" alt="">
        {{ game.team1 }}
        vs
        {{ game.team2 }}
        <img src="http://www.countryflags.io/{{ game.team2.country.code }}/shiny/64.png" alt="">
    </h2>
    <h3>{% if game.startAt %}{{ game.startAt|date('d F Y H:i') }}{% endif %}</h3>

{% endblock %}
{% block body %}

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2>
                        <a href="{{ path('team_show', { 'id': game.team1.id }) }}">{{ game.team1.name }}</a>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="{{ asset('images/') }}{{ game.team1.image }}">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1>
                        <span class="score">{{ game.score1|default('Not available yet') }}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col h5">
                    <span class="font-weight-bold">Place</span>: {{ game.place }}
                </div>
            </div>
            <div class="row">
                <div class="col h5">
                    <span class="font-weight-bold">Infos</span>: {{ game.infos }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2>
                        <a href="{{ path('team_show', { 'id': game.team2.id }) }}">{{ game.team2.name }}</a>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="{{ asset('images/') }}{{ game.team2.image }}">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1>
                        <span class="score">{{ game.score2|default('Not available yet') }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a class="btn btn-primary" href="{{ path('tournament_show',{'id':game.tournament.id}) }}">Back to tournament</a>
    </div>
{% endblock %}
