{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 text-center">
            <h2>{{ athlete }}</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-9">
            {% if athlete.birthdate %}
                <div>
                    <span class="font-weight-bold">BirthDate</span>: {{ athlete.birthdate|date('d-m-Y') }}
                </div>
            {% endif %}
            <div>
                <span class="font-weight-bold">Biography</span>: {{ athlete.biography }}
            </div>
        </div>

        <div class="col-3">
            {% if athlete.image %} <img class="img-fluid" src="{{ asset('images/') }}{{ athlete.image }}">{% endif %}
        </div>
    </div>


    <p>
        <a class="btn btn-primary" href="{{ path('admin_athlete_index') }}">Back to the athlete list</a>
    </p>

    <p>
        <a class="btn btn-primary" href="{{ path('admin_athlete_edit', { 'id': athlete.id }) }}">Edit</a>
    </p>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
