{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Athletes</h1>
    </div>
    <div class="row">
        {% for athlete in athletes %}
            <div class="card col-3">
                <div class="card-body text-center">
                    <img class="img-fluid" src="{{ athlete.image }}">
                    <h4 class="card-title">{{ athlete }}</h4>
                    <a role="button" class="btn btn-info" href="{{ path('athlete_show', { 'id': athlete.id }) }}">See more</a>
                    <a role="button" class="btn btn-primary" href="{{ path('athlete_edit', { 'id': athlete.id }) }}">Edit</a>
                </div>
            </div>
        {% else %}
            No athletes yet
        {% endfor %}
    </div>
    <ul>
        <li>
            <a href="{{ path('athlete_new') }}">Create a new athlete</a>
        </li>
    </ul>
{% endblock %}
