{% extends 'base.html.twig' %}
{% block pageheader %}
    <h2>{{ athlete }}</h2>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-12 text-center">

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-9">
            {% if athlete.birthdate %}
                <div>
                    <span class="font-weight-bold">BirthDate</span>: {{ athlete.birthdate|date('d-m-Y') }}
                </div>
            {% endif %}
            <div>
                <span class="font-weight-bold">Biography</span>: {{ athlete.biography }}
            </div>
        </div>

        <div class="col-3">
            {% if athlete.image %} <img class="img-fluid" src="{{ asset('images/') }}{{ athlete.image }}">{% endif %}
        </div>
    </div>
    <h3>Team</h3>
    <a href="{{ path('team_show', { 'id': athlete.team.id }) }}" class="card-link">


        <img src="http://www.countryflags.io/{{ athlete.team.country.code }}/shiny/64.png" alt="">


        {{ athlete.team.name }}</a>

    <p class="text-center">
        <a role="button" class="btn btn-primary" href="{{ path('athlete_index') }}">Back to Athletes list</a>
    </p>
{% endblock %}
