{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tournament</h1>

    {% if tournament.games[0] is defined %}
        {% set currentLevel = tournament.games[0].level %}

        {% for i in currentLevel..0 %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-11 h3">
                            {{ constant('GAME_LEVELS', tournament)[i] }}
                        </div>
                        <div class="col-1">
                            <img class="img-fluid" src="{{ asset('images/logo-dark.png') }}">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games if game.level == i %}
                    <li class="list-group-item text-center">
                        <div class="">
                        {% if game.team1 %}
                            <img src="http://www.countryflags.io/{{ game.team1.country.code }}/shiny/64.png" alt="">
                        {% endif %}
                        {{ game.team1.name|default('???') }}
                        vs
                        {{ game.team2.name|default('???') }}
                        {% if game.team2 %}
                            <img src="http://www.countryflags.io/{{ game.team2.country.code }}/shiny/64.png" alt="">
                        {% endif %}
                        </div>

                        <div class="">
                            {% if game.startAt %}
                                {{ game.startAt|date('d F Y H:i') }}
                            {% endif %}{% if game.startAt and game.place %},
                            {% endif %}
                            {{ game.place }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

    {% if tournament.games.last.score1 is defined %}
        <br>
        <h2>Winner of this tournament is</h2>
        <h3>{{ tournament.games.last.getWinner }}</h3>
    {% endif %}

{% endblock %}
