{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <p>
        <a role="button" class="btn btn-primary" href="{{ path('admin_team_index') }}">Back to Teams</a>
    </p>

    <p>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </p>

{% endblock %}
