{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Teams</h1>
    </div>

    <div class="row">
        {% for team in teams %}
        <div class="media col-4">
            <img src="http://www.countryflags.io/{{ team.country.code }}/shiny/64.png" alt="Country flag">
            <div class="media-body">
                <h3 class="mt-0">{{ team.name }}</h3>
                <a role="button" class="btn btn-info" href="{{ path('team_show', { 'id': team.id }) }}">See more</a>
                <a role="button" class="btn btn-primary" href="{{ path('team_edit', { 'id': team.id }) }}">Edit</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <p>
        <a class="btn btn-primary" href="{{ path('team_new') }}">Create a new team</a>
    </p>
{% endblock %}
