{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-12 text-center">
        <img src="http://www.countryflags.io/{{ team.country.code }}/shiny/64.png" alt="">
        <h2>{{ team.country.name }} - {{ team.name }}</h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <p>{{ team.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <ul>
            {% for player in players %}
                <li><a href="{{ path('athlete_show', { 'id': player.id }) }}">{{ player }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-9">
        <div class="float-right">
            <img src="http://www.countryflags.io/be/shiny/64.png" alt="">
        </div>
    </div>
</div>

<hr>
<h2>Derniers résultats</h2>
{% if match != null %}
<p>

    {{ match.score1 }}
    <img src="http://www.countryflags.io/{{ match.team1.country.code }}/shiny/32.png" alt="">
    {{ match.team1.name }} Vs {{ match.team2.name }}
    <img src="http://www.countryflags.io/{{ match.team2.country.code }}/shiny/32.png" alt="">
    {{ match.score2 }}
</p>
{% endif %}
<p>
    <a role="button" class="btn btn-primary" href="{{ path('team_index') }}">Back to Teams</a>
</p>

{% endblock %}
